<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink] = "['/']">{{title}}</a>
    <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse" (click)="collapse=false" [hidden]="!collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="!authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink] = "['/login']">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink] = "['/register']">Register </a>
          </li>
        <!-- <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"  *ngIf="loginService.getUserLoggedIn() === 'student'">
          <a class="nav-link" [routerLink] = "['/studentRegistration']">Register</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngIf="loginService.getUserLoggedIn() === 'mentor'">
            <a class="nav-link" [routerLink] = "['/mentorRegistration']">Register</a>
          </li> -->
        <li class="nav-item" *ngIf="authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" [routerLink] = "['/projectsList']">Project List</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink] = "['/profile']">Profile</a>
          </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>